.red {
  background-color: rgb(234, 103, 107);
}

.orange {
	background-color: $orange
}

.white {
  background-color: rgb(255, 255, 255);
}

.purple {
  background-color: rgb(55, 59, 74);
}

/* Background bottom sections */


.bg-bottom {
  height: 6px;
}