/* Placeholder color */


input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome */
  color: rgb(244, 140, 143)!important;;
}
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder { /* IE 10+ */
  color: rgb(244, 140, 143)!important;;
}
input::-moz-placeholder,
textarea::-webkit-input-placeholder { /* Firefox 19+ */
  color: rgb(244, 140, 143)!important;;
  opacity: 1;
}
input:-moz-placeholder,
textarea::-webkit-input-placeholder { /* Firefox 4 - 18 */
  color: rgb(244, 140, 143)!important;;
  opacity: 1;
}