/* Quote */
.quote {
	background-color: rgb(235, 80, 85);

	h2,p {
		color: rgb(240, 216, 217);
	}

	.form {

		&-horizontal {

		}

		&-group {
			position: relative;
		}

		&-label {
			position: absolute;
			top: 18px;
			left: 20px;
			transition: .3s all ease-in-out;

			&.float {
				font-size: 12px;
				top: 3px;
			}

			&-textarea {
				top: 5px;
			}
		}

		&-control {
			font-size: 16px;
			border: 1px solid rgb(202, 69, 73);
			border-radius: 6px;
			padding: 30px;

			&-textarea {
				padding: 25px;
			}
		}
	}

	&.thanks {
		display: none;
	}
}
